<div class="container">
  <h1>Books Application</h1>

  <input id="newBook" placeholder="Book Title">
  <input id="newDesc" placeholder="Book Description">
  <input id="newPrice" placeholder="Book Price">
  <button (click)="addBook()">Add Book</button>

  <div *ngFor="let book of books">
    <h3>
      <b>* {{book.title}}</b>
      <b> | {{book.description}}</b>
      <b> | {{book.price}}</b>
      <button class="delete" (click)="deleteBook(book.id)">Delete Book</button>
    </h3>
  </div>
</div>