.container {
    background-color: rgb(45, 45, 48);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #ddd;
    margin-bottom: 20px;
}

/* Input Fields and Button */
input, button {
    width: 96%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #ddd;
}

input:focus {
    border-color: #9c27b0;
    outline: none;
}

button {
    background-color: #9c27b0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7b1fa2;
}

/* Books List */
h3 {
    background-color: #333;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h3 b {
    color: #bbb;
}

button.delete {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button.delete:hover {
    background-color: #d81b60;
}